.mainDiv {
  padding: 20px;
}
.factoryDiv {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

.link {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 25px;
  color: black;
}
