.container {
  padding: 30px;
}

.h1 {
  margin-bottom: 15px;
}

.breweriesDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.deleteBtn {
  cursor: pointer;
  width: 80px;
  height: 40px;
  margin-bottom: 15px;
}

.observer {
  margin-top: 300px;
  background-color: aqua;
}
